.consultation {
	margin-bottom: 108px;
	@media (max-width: 768.98px) {
		margin-bottom: 58px;
	}
	@media (max-width: 320.98px) {
		margin-bottom: 48px;
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .consultation__title
	&__title {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 50px;
		line-height: 40px;
		margin-bottom: 10px;
		@media (max-width: 768.98px) {
			font-size: 40px;
			line-height: 30px;
		}
		@media (max-width: 320.98px) {
			font-size: 22px;
			line-height: 30px;
			text-align: center;
		}
	}

	// .consultation__desc
	&__desc {
		font-size: 22px;
		line-height: 40px;
		font-weight: 300;
		margin-bottom: 33px;
		@media (max-width: 768.98px) {
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 29px;
		}
		@media (max-width: 320.98px) {
			font-size: 14px;
			line-height: 26px;
			text-align: center;
		}
	}

	// .consultation__social
	&__social {
		svg {
			max-width: 23px;
			width: 23px;
			height: 23px;
			max-height: 23px;
			fill: $carrot;
		}
		margin-right: 46.6px;
		@media (max-width: 767.98px) {
			margin-right: 36px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__socials {
		@media (max-width: 320.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 290px;
			padding-bottom: 25px;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// .consultation__form
	&__form {
		margin-top: 39px;
		@media (max-width: 768.98px) {
			margin-top: 33px;
		}
		@media (max-width: 320.98px) {
			margin-top: 25px;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 59px;
	background-color: #fff;
	width: 866px;
	height: 260px;

	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);

	@media (max-width: 320.98px) {
		box-shadow: none;
	}

	@media (max-width: 768.98px) {
		width: 738px;
		height: 390px;
		padding: 0;
		align-items: center;
	}
	@media (max-width: 320.98px) {
		width: 291px;
		height: 313px;
	}

	// .form__title
	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		color: #000;
		margin-bottom: 12px;

		span {
			color: $carrot;
			font-weight: 700;
		}
		@media (max-width: 320.98px) {
			font-size: 18px;
			line-height: 26px;
			text-align: center;
		}
	}

	// .form__text
	&__text {
		margin-bottom: 22px;
		@media (max-width: 320.98px) {
			margin-bottom: 27px;
		}
	}

	// .form__controls
	&__controls {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 16px;

		@media (max-width: 768.98px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		@media (max-width: 320.98px) {
		}
	}

	// .form__input
	&__input {
		width: 240px;
		height: 56px;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		padding-left: 17px;
		@media (max-width: 768.98px) {
			width: 354px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 25px;
			}
		}
		@media (max-width: 320.98px) {
			width: 290px;
		}

		&::placeholder {
			color: #b1b1b1;
			font-size: 14px;
			line-height: 22px;
			font-weight: 500;
		}
	}

	// .form__button
	&__button {
		color: #fff;

		background-color: #215359;
		border-radius: 4px;
		border: none;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		width: 240px;
		height: 56px;

		&:disabled {
			background-color: #424249;
			cursor: not-allowed;
		}
	}
}
