.demostration {
	margin-bottom: 121px;
	@media (max-width: 768.98px) {
		margin-bottom: 56px;
	}
	@media (max-width: 320.98px) {
		margin-bottom: 48px;
	}
	// .demostration__title
	&__title {
		margin-bottom: 66px;
		@media (max-width: 768.98px) {
			margin-bottom: 34px;
		}
		@media (max-width: 320.98px) {
			margin-bottom: 28px;
		}
	}

	&__desc {
		margin-bottom: 51px;
		@media (max-width: 768.98px) {
			margin-bottom: 34px;
		}
		@media (max-width: 320.98px) {
			margin-bottom: 24px;
		}
	}

	// .demostration__container

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("../../assets/images/Blob2.png");
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		overflow: visible;

		width: 1156.11px;
		height: 487px;
		max-height: 487px;
		max-width: 1156.11px;

		iframe {
			transform: translateY(12px);
		}

		@media (max-width: 768.98px) {
			background-image: none;
			width: fit-content;
			max-width: auto;
			height: fit-content;
			max-height: auto;
		}
	}

	&__frame {
		width: 771px;
		height: 438px;
		@media (max-width: 768.98px) {
			width: 737px;
			height: 419px;
		}
		@media (max-width: 320.98px) {
			width: 287px;
			height: 163px;
		}
	}
}
