extends ../layouts/default

block variables

block content
	include ../../components/introduce/introduce
	include ../../components/montage/montage
	include ../../components/reason/reason
	include ../../components/consultation/consultation
	include ../../components/demonstation/demonstation
	include ../../components/pictures/pictures

