.reason {
	margin-bottom: 98px;
	@media (max-width: 768.98px) {
		margin-bottom: 52px;
	}
	@media (max-width: 320.98px) {
		margin-bottom: 41px;
	}
	// .reason__title
	&__title {
		margin-bottom: 50px;
		@media (max-width: 768.98px) {
			margin-bottom: 37px;
		}
		@media (max-width: 320.98px) {
			margin-bottom: 26px;
		}
	}

	// .reason__desc

	&__desc {
		margin-bottom: 51px;
	}

	// .reason__list
	&__list {
	}
}

.list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (max-width: 768.98px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .list__item
	&__item {
	}
}
.item {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (max-width: 768.98px) {
		align-items: center;
		&:nth-child(1) {
			margin-right: 62px;
		}
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 36px;
		}
	}
	@media (max-width: 320.98px) {
		margin: 0 !important;
		margin-bottom: 27px !important;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	// .item__pic
	&__pic {
		svg {
			max-width: 79px;
			max-height: 79px;
		}
		margin-bottom: 32px;
	}

	// .item__title
	&__title {
		font-weight: 700;
		line-height: 30px;
		font-size: 20px;
		flex-shrink: 0;
		margin-bottom: 10px;

		@media (max-width: 768.98px) {
			font-size: 18px;
		}
	}

	// .item__desc
	&__desc {
		max-width: 385px;
		.purple-highlite {
			font-weight: 600;
		}
		@media (max-width: 768.98px) {
			text-align: center;
			font-size: 14px;
			line-height: 26px;
			max-width: 323px;
		}
		@media (max-width: 320.98px) {
			max-width: 289px;
		}
	}
}
