section.montage
	<div class="container strip">
		h2.montage__title.second-title Процесс выполнения монтажа
		section.montage__list 
			.montage__mitem.mitem
				p.mitem__number 1&nbsp;&nbsp;
				p.mitem__text Рассчёт предварительной заявки
			.montage__mitem.mitem
				p.mitem__number 2&nbsp;
				p.mitem__text Замер объекта нашим инженером
			.montage__mitem.mitem
				p.mitem__number 3&nbsp;
				p.mitem__text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
			.montage__mitem.mitem
				p.mitem__number 4&nbsp;
				p.mitem__text Изготовление Дымохода, покраска (если требуется)
			.montage__mitem.mitem
				p.mitem__number 5&nbsp;
				p.mitem__text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
			.montage__mitem.mitem
				p.mitem__number 6&nbsp;
				p.mitem__text Гарантийное обслуживание по соответствующем сроку

	</div>
