.footer {
	background-color: $darkBluishGreen;

	.container {
		padding-top: 88px;
		padding-bottom: 92px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@media (max-width: 768.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 24px 0;
		}
	}

	// .footer__section
	&__section {
		@media (max-width: 768.98px) {
			display: none;
		}
		&:nth-child(3) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
.section {
	// .section__title
	&__title {
		@media (max-width: 768.98px) {
			display: none;
		}
		font-weight: 700;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 27px;
		color: #fff;
		margin-bottom: 18px;
	}

	// .section__list
	&__flist {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	// .section__time
	&__time {
		@media (max-width: 768.98px) {
			display: none;
		}
		display: flex;
		align-items: center;
		margin-bottom: 17px;
		svg {
			max-width: 15px;
			max-height: 15px;
			margin-right: 8px;
		}
		p {
			font-family: Lato, sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			color: #fff;
			span {
				color: #4c858b;
			}
			.tab {
				display: inline-block;
				width: 12px;
			}
		}
	}

	// .section__address
	&__address {
		display: flex;
		align-items: center;
		margin-bottom: 17px;
		@media (max-width: 768.98px) {
			display: none;
		}
		svg {
			max-width: 17px;
			max-height: 17px;
			margin-right: 10.1px;
		}
		p {
			font-family: Lato, sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #fff;
		}
	}

	// .section__fsocials
	&__fsocials {
		svg {
			max-width: 23px;
			max-height: 23px;
			fill: #4c858b;
			margin-right: 44px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.flist {
	// .flist__item
	&__item {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		text-decoration: none;
		margin-bottom: 19px;
	}
}
.time {
}
