include ../../views/helpers/svg.pug

footer.footer
	<div class="container">
		section.footer__section.section 
			h3.section__title Каталог
			section.section__flist.flist 
				a.flist__item(href="#") Дымоходы 
				a.flist__item(href="#") Камины
				a.flist__item(href="#") Дымососы 
				a.flist__item(href="#") Силикат кальция
				a.flist__item(href="#") Печи для дома 
				a.flist__item(href="#") Котлы
				a.flist__item(href="#") Печи для бани
				a.flist__item(href="#") Ещё


		section.footer__section.section 
			h3.section__title Информация
			section.section__flist.flist 
				a.flist__item(href="#") Каталог 
				a.flist__item(href="#") Полезное
				a.flist__item(href="#") Установка и монтаж
				a.flist__item(href="#") Контакты
				a.flist__item(href="#") Отзывы
				a.flist__item(href="#") Оплата и доставка
				a.flist__item(href="#") Ликвидация товара


		section.footer__section.section 
			h3.section__title Время работы

			section.section__time.time
				+svg('clock')
				p <span>пн-пт</span> 9:00 – 20:00<span class="tab"></span><span>сб-вс</span> 10:00 – 18:00

			section.section__address
				+svg('marker')
				p г. Санкт - Петербург ,ул. Тамбасова д.7

			section.section__fsocials
				+svg('vk')
				+svg('telegram')
				+svg('instagram')
				+svg('whatsapp')




	</div>