html,
body {
	font-family: Montserrat;
	font-size: 14px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.header-container {
	width: 1785px;
	margin: 0 auto;
}

.container {
	width: 1221px;
	margin: 0 auto;
}
